// $Id$
// This file is for additional LESS rules beyond what are in variables.less.
// Image path example:
@imagePath: ~"../images/";
// body {
//	background-image: url('@{imagePath}bg.jpg');
// }
//
// If Glyphicons should be rendered in a color other than the Bootstrap default or the theme default, uncomment and specify the color.
// .glyphicon {color: @gray-lighter;}

@topmodules-row-sidemargins: 0;
@topbar-row-sidemargins: -15px;

//body {
//	background: url('@{imagePath}background.jpg');
//}

.header_outer {
	margin-top: 24px;
}

body.fullscreen {
	.header_outer,
	#footer {
		display: none;
	}
}

// add media query for medium and large displays
.page-header .top_modules {
	min-height: 175px;
	background: url('@{imagePath}header_background_ltr.jpg') 50% 0 no-repeat;
	background-size: cover;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.topbar {
	margin-bottom: 20px;
}

.topbar,
.navbar-default,
.navbar-fixed-top {
	background: #473119;
	-webkit-box-shadow: inset 0 -3px 10px #331a00;
	box-shadow: inset 0 -3px 10px #331a00;
	border: none;
	border-radius: 0;
}

.topbar .navbar-default,
.topbar .cssmenu_horiz ul,
.topbar .navbar-default .navbar-nav > li,
.topbar .nav > li {
	background: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { background: transparent; }

.navbar-default .navbar-nav > .active {
	> a,
	> a:hover,
	> a:focus {
		background: transparent;
	}
}

#topbar_modules {
//	background: #473119 url('@{imagePath}menubar-wood.jpg') 50% 50% no-repeat;
//	background-size: cover;
	background: #ffffff url('@{imagePath}menubar-wood.jpg');
	-webkit-box-shadow: inset 0 -3px 10px #331a00;
	box-shadow: inset 0 -3px 10px #331a00;
	border: none;
	border-radius: 0;
	.navbar-default {
		background: transparent;
		border: none;
	}
	.form-group {
		margin-bottom: 0;
	}
}

#row-middle {
	background: url('@{imagePath}page_background_ltr.jpg') repeat;
	margin-top: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.layout_fixed_top_modules #middle {
	background: url('@{imagePath}page_background_ltr.jpg') repeat;
	padding-bottom: 20px;
}

#page-data {
	text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.panel-default > .panel-heading {
	min-height: 52px;
	padding-top: 12px;
	background: #02913d url('@{imagePath}box_header_bg.png') repeat-x 120% 100%;
	text-align: center;
	border: 1px solid #8bc541;
	text-shadow: 2px 2px 0px #555;
}

.panel-title {
	font-size: 1.2em;
	font-weight: 700;
	color: #ffffff;
	text-shadow: #666 0 2px 3px;
}

.btn-default, input[type="reset"], input[type="submit"] {
	background: url('@{imagePath}button_bck.jpg') 100% 50% repeat;
	//  border: solid 1px rgba(84, 60, 27, 0.64);
	-webkit-box-shadow: 2px 2px 3px 1px rgba(43, 43, 43, 0.65);
	box-shadow: 2px 2px 3px 1px rgba(43, 43, 43, 0.65);
	text-shadow: #f2e4ab 0 1px 1px;
}

.btn-default:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	color: #a99278;
	background: url('@{imagePath}button_bck_hover.jpg') 100% 50% repeat;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(84, 60, 27, 0.64);
	box-shadow: 1px 1px 2px 1px rgba(84, 60, 27, 0.64);
	text-shadow: #2b2b2b 0 1px 1px;
}

#footer .row.row-sidemargins-zero {
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom: 15px
}

footer.footer {
	margin-bottom: 20px;
}

.footer .modules {
	background: url('@{imagePath}footer_bck.jpg');
	background-size: contain;
	color: #e0d6cc;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding-top: 20px;
	h3 {
		a,
		a:visited {
			color: #b29980;
		}
		&:hover {
			color: #c48054;
		}
	}
}

.articletitle .titleb {
	color: #996633;
	font-size: 0.9em;
}

// /* Autosave Preview handle */
#autosave_preview {
	background: url('@{imagePath}page_background_ltr.jpg') repeat;
	color: @text-color;
}

.postbody-title .title > .panel-title a.link,
.panel-default > .panel-heading .blog-postbody-title,
.panel-default > .panel-heading a {
	color: #ffffff;
}

.tiki .cke_wysiwyg_frame,
.tiki .cke_wysiwyg_div {
	background: #fff;
}


/* Hebrew */
[lang="he"] .pull-left {
	float: right !important;
}

/* Articles module */
.box-articles .panel-body ul {
	list-style: none;
	margin-right: -2.5em;
}
.box-articles .panel-body ul li {
	margin-bottom: 1em;
}
.box-articles .panel-body ul li .image {
	display: inline-block;
	width: 30px;
}
.box-articles .panel-body ul li a {
	display: inline-block;
	width: 180px;
	vertical-align: top;
	line-height: 1.1;
	margin-top: -0.2em;
}

/* Logo and title */
[lang="he"] .box-logo > div > .sitelogo + .sitetitles {
	padding-right: 15px;
}
.sitetitles {
	color: #fff;
	text-shadow: 2px 2px 2px #666;
	margin-top: 35px;
}
.sitetitle a {
	font-size: 60px;
	color: #fff;
}
.sitesubtitle {
	margin-top: -30px;
}
